/COPYING
/INSTALL
/Makefile
/Makefile.in
/aclocal.m4
/autom4te.cache
/config
/config.in
/config.log
/config.status
/configure
/en-si.autobil.bin
/en-si.autogen.bin
/en-si.automorf.bin
/en-si.mode
/en-si.t1x.bin
/en-si.t2x.bin
/en-si.t3x.bin
/install-sh
/missing
/modes
/si-en.autobil.bin
/si-en.autogen.bin
/si-en.automorf.bin
/si-en.mode
/si-en.t1x.bin
/si-en.t2x.bin
/si-en.t3x.bin
/stamp-h1
